
body{
  width: 80%;
  margin: auto;
}

#blogbody{
  max-width: 1000px;
  margin: auto;
  /*padding: 50px;
  padding-left: 150px;
  padding-right: 150px;*/
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  width: 100%;
/* Styles */
}



.dropdown:hover>.dropdown-menu {
  display: block;
}

#changepage:hover{
  background-color: rgb(175, 172, 177);
}
