html{
  background-color: #55515b;
}

body{
  padding-top:50px;
  width: 80%;
  margin: auto;
}
.more-buffer{
  border-top:150px;
}



.links {
  position: relative;
  text-align: center;
  color: black;
  /*margin-left: -40px;*/
  font-size: 60px;
}

.personalpadding{
  background-color: rgb(54, 134, 94);
}

.img-pusher{
  padding-top:50px;
}

.personal-expand{
  padding:50px;
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgb(54, 134, 94);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.grow:hover{
  transform: scale(1.2);
}

/* #d8effe */

#home {
  background-color: rgb(54, 134, 94);
  color: white;
}

#blogfrontpage {
  background-color: rgb(54, 134, 94);
  color: white;
}

#blogfrontpage a {
  color: blue;
}

#about {
  background-color: rgb(54, 134, 94);
  color: white;
}

.sizing60 {
  margin: 0 auto;
  width: 60%;
}

.fa{
  color: white;
}


.textread{
  height: 24px;
  background-color: rgb(54, 134, 94);
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
