body{
  padding-top:50px;
}
.more-buffer{
  border-top:150px;
}


.fader{
  opacity: 0;
}

.links {
  position: relative;
  text-align: center;
  color: black;
  /*margin-left: -40px;*/
  font-size: 60px;
}

.personalpadding{
  padding:50px;
}

.img-pusher{
  padding-top:150px;
}

.personal-expand{
  padding:50px;
}

.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.grow:hover{
  transform: scale(1.2);
}
